@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Nunito+Sans&display=swap');

.App {
  text-align: center;
  background-color: #F0F0F0;
  height: 100%;
}

h1 h2 h3 h4 {
  font-family: 'Nunito Sans', sans-serif;
}

p a {
  font-family: 'Montserrat', sans-serif;

}




