.navImg {
    width: 90%;
    margin: 0 auto 10px auto;
    padding-top: 30px;
}

.logo {
    width: 100%;
}

a {
    text-decoration: none;
    color: grey;
    font-size: smaller;
    
}

@media only screen and (min-width: 300px) {
    .navImg {
        width: 75%;
        
    }
    
  }

@media only screen and (min-width: 600px) {

    .navImg {
        width: 50%;
        
    }
    
  }