.exercise {
    border-style: solid;
    border-width: 3px;
    border-color: black;
    width: 100%;
    margin: 5px auto 5px auto ;
    
}

.exMain {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}



.workout {
    text-align: center;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30PX;
}

.exBtn {
    width: 100px;
    margin: 0 5px 0 5px;
}

img {
    width: 100px;
    height: 100px;
    padding: 5px;
}

.hiddenDesc {
    display: none;
}

.exDesc {
    display: inline;
}

.intro {
    margin-bottom: 30px;
    /* display: none; */
}

@media only screen and (min-width: 600px) {
    .workout {
      width: 50%;
    }
    .intro {
        margin-bottom: 30px;
        display: inline;
    }
  }